<h1 class= "top_banner">Roster</h1>

<div class="col-md-8 col-md-offset-2">
	<div class="main-content" id="temp"></div>
</div>

<div class="col-md-8 col-md-offset-2">
	<div class="main-content">

<ul class="roster"></ul>
<!-- <% if @children.count > 0 %>
	<% @children.each do |c| %>
	  <li><%= link_to c.name, child_path(c) %></li>
	<% end %></br></br> -->
	<p> <%= Child.child_with_highest_ouch_rating%> </p>
	<p> <%= Child.child_with_most_poops%> </p>
	<p> <%= Child.daily_biggest %></p>
	<p> <%= Child.child_with_most_kind_acts%></p>
	<p> <%= Child.child_who_received_most_kind_acts%></p>
<% else %>
	<p>There are no children registered yet</p>
<% end %>
</div>
</div>



<% if Child.send(:troublemakers).length > 0 %>
<h3 class= "top_banner">Troublemakers List</h3>
<div class="col-md-8 col-md-offset-2">
	<div class="main-content">

<p> The following children all have engaged in bullying at least three times <p>
<ul>
	<% Child.send(:troublemakers).each do |t| %>
		<li><%= t.name %> was caught bullying <%= t.bully_rating %> times</li>
	<% end %>
</ul>

</div>
</div>
<%end%>
