<div class="col-md-8 col-md-offset-2">
	<div class="main-content">

    <h2><%=@child.name%>'s Profile Page</h2>
    <p>Birthdate <%= @child.birthdate.strftime("%b %d, %Y") %></p>
    <p>Bully Rating: <%=@child.bully_rating ||= "0" %></p>
    <p>Ouch Rating: <%=@child.ouch_rating ||= "0" %></p>
		<p>Observed Performing Acts of Kindness: <%=@child.kind_acts.count %> times</p>
		<p>Observed Receiving Acts of Kindness: <%=@child.gifts.count %> times</p>
    <p>Allergies? <%= @child.allergies %></p>
    <p>Current Diaper Inventory: <%= @child.diapers_inventory %></p>
    <%=link_to "edit profile", edit_child_path(@child) %>
    <%= link_to "delete profile", child_path(@child), method: :delete, data: { confirm: "Are you sure?"} %></br></br>
    <h3><%=@child.name%>'s Daily Reports</h3>
		<p><%= link_to "See index of reports", child_daily_reports_path(@child), class: "reports-link" %></p>
		<ul>
			<div class="report-area"></div>
		</ul>
    <p><%= link_to "Create a new report", new_child_daily_report_path(@child) %></p>

		<!-- <% @child.daily_reports.each do |d| %>
      <%= render partial: 'daily_reports/daily_report', locals: {d: d, child: @child} %>
    <% end %> -->
  </div>
</div>
