<h2 class = "top_banner">SIGN IN</h2>



<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class = "loginform">
  <div class = "form-content">

    <div class="field">
      <%= f.label :email %></br>
      <%= f.email_field :email, autofocus: true %></br></br>
    </div>

    <div class="field">
      <%= f.label :password %></br>
      <%= f.password_field :password, autocomplete: "off" %></br></br>
    </div>

    <%= f.submit "Log in" %>

</div>
</div>

<% end %></br></br>
